* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
}


.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    background-image: url(Assets/samuel-zeller-14251.jpg);
    background-size: cover;
    background-position: center;
        
    height: 100vh;
    
}

nav.navbar {
    margin-bottom: 0;
    background-color: #27ae60;
    border: none;

}

.about {
    height: 100vh;
    text-align: center;
    text-transform: uppercase;

}

.about h1 {
    margin-top: 30px;
}

hr {
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
}

img.img-thumbnail {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 20px;
}

.images-1, .images-2, .images-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
